<div class="container pt-3">
  <div class="row padding-left-20 information">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">
      <mat-table [dataSource]="ticketInfoDataSource" matSort>
        <ng-container matColumnDef="type">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Jegy típus</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ár</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="ticketInfoColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ticketInfoColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
